.Floor{
  width: 100%;
  display: block;
}
.Floor header h5{
  padding: 30px 20px;
}
.Floor button{
  display: inline-block;
}
.Wrapper{
  display: block;
}
.FloorPreview{
  text-align: center;
}

@media (max-width: 800px){
  .FloorPreview{
      border: '1px solid red'
  }
}
